.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  min-height: calc(100vh - 524px);
  @media(max-width: 750px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
    min-height: 451px;
  }

  section {
    max-width: 320px;
    @media(max-width: 450px) {
      max-width: 290px;
    }

    h1 {
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 58px;
      @media(max-width: 500px) {
        font-size: 36px;
      }

      span {
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        /* identical to box height */
        background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        @media(max-width: 500px) {
          font-size: 36px;
        }
      }
    }

    p {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      margin-top: 30px;
      width: 275px;
      @media(max-width: 750px) {
        margin-top: 15px;
      }
    }
  }
}