.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  min-height: calc(100vh - 524px);

  section {
    width: 362px;

    h1 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 58px;

      span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        /* identical to box height */
        background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      margin-top: 30px;
      width: 275px;

    }
  }

}