@use 'src/styles/color-variables' as color-vars;

.wrapper {
  padding-top: 55px;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  min-height: 315px;
  position: relative;
  @media(max-width: 960px) {
    grid-template-columns: 1fr;
    gap: 20px;
    min-height: 559px;
    background-color: color-vars.$app-background;
    padding-top: 45px;
  }

  h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: color-vars.$dark-text-color;
  }

  ul {
    list-style-type: none;
    display: flex;
  }
}