@use 'src/styles/color-variables' as color-vars;

.wrapper {
  padding-top: 55px;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  min-height: 315px;
  position: relative;

  h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: color-vars.$dark-text-color;
  }

  ul {

    list-style-type: none;
    display: flex;
  }

  .about {
    ul {
      margin-top: 20px;
      flex-direction: column;
      row-gap: 10px;
      column-gap: 52px;
      flex-wrap: wrap;
      max-height: 140px;
    }
  }

  .menu {
    margin-left: 98px;

    ul {
      margin-top: 20px;
      flex-direction: column;
      row-gap: 10px;
      column-gap: 52px;
      flex-wrap: wrap;
      max-height: 140px;
    }
  }

  .contacts {
    text-align: right;

    .contacts_list {
      margin-top: 20px;
      justify-content: flex-end;
      flex-direction: column;
      gap: 20px;
    }
  }

  .rights {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-family: 'Montserrat';
    text-align: right;

    p {

      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      /* identical to box height */

    }

    .link {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      /* identical to box height */
      text-align: right;
      text-decoration-line: underline;
      /* light text */
      color: color-vars.$primary-text-color;
    }
  }
}