@use 'src/styles/color-variables' as color-vars;

body {
  font-family: 'Inter', sans-serif;
  background-color: color-vars.$app-background;
  color: color-vars.$primary-text-color;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
